/* Aquí definimos las Custom properties */
:root{
    --poppins: 'Poppins', sans-serif;


}

@media (prefers-color-scheme: dark) {
    :root{
    --color-primario   : #f0f0f0;
    --color-secundario : #181818;  
    }
}

@media (prefers-contrast: high){
    :root{
    --color-primario   : black;
    --color-secundario : white; 
}
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img , picture , video , iframe , figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;        
    object-position: center center;
}

a {
    display: block;
}
p a {
    display: inline;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

::selection {
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

form , input, textarea, select , button , label{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color:inherit;
    appearance: none;
}

table , tr , td {
    border-collapse: collapse;
    border-spacing: 0;
}

svg{
    width: 100%;
    display: block;
    fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
} */
  /* Configuramos la tipografía para toda la web */

body {
    min-height  : 100vh;
    font-size   : 100%;
    font-family : var(--tipo-principal);
    color       : var(--color-primario);
    background-color: var(--color-secundario);
    /* opcional */ line-height: 1.4em;
    /* opcional */ hyphens: auto;
    /* opcional */ font-smooth: always;
    /* opcional */ -webkit-font-smoothing: antialiased;
    /* opcional */ -moz-osx-font-smoothing: grayscale;
} 


